@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Rock+Salt&display=swap');

* {
  font-family: "Quicksand", 'Monterro', Times, serif;
  box-sizing: border-box;
}

:root {
  --darkPrimary: #292d33;
  --yellow: #f2d351;
  --opYellow: #f8e9a7;
  --offWhite: #efefef;
  --blue: #95a9f0;
  --opBlue: #bfcbf6;
}

/* Global Attributes */
body {
  font-family: "Quicksand", 'Monterro', Times, serif;
  line-height: 1.5;
}

header {
  padding: 15px 6% 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--darkPrimary);
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  padding: 5px 10px;
  color: var(--yellow);
  margin: 0 5px;
  font-size: larger;
}

nav a:hover {
  color: var(--darkPrimary);
  background-color: var(--yellow);
  transition: all 0.2s ease-in;
}

footer {
  padding: 10px 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--darkPrimary);
  color: var(--offWhite);
}

footer i {
  display: inline-flex;
  color: var(--offWhite);
  padding: 0px 5px;
  font-size: 30px;
}

footer a {
  display: inline-flex;
  color: var(--offWhite);
  padding: 0px 5px;
}

footer p {
  font-size: 10px;
}

/* Header social icons */
.header-socials {
  padding: 5px 10px;
  margin-left: 10px;
}

.header-socials i {
  display: inline-flex;
  color: var(--yellow);
  padding: 0px 5px;
  font-size: 30px;
}

/* Hero/main title attributes */
.hero {
  background-color: var(--darkPrimary);
  min-height: 93vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: auto;
}

.hero h1 {
  font-family: "Rock Salt", "Quicksand", 'Monterro', Times, serif;
  color: var(--yellow);
  font-size: 7vw;
  position: relative;
  transform: rotate(-4deg);
  padding: 10px 20px 25% 30px;
}

/* Offset 'Hearne' styling */
.hero h1:after {
  content: "Hearne";
  position: absolute;
  left: 30%;
  top: 45%;
}

.hero p {
  color: var(--offWhite);
  font-size: 3vw;
  text-align: left;
  width: 47vw;
}

.title-name {
  display: flex;
  flex-wrap: wrap;
  max-width: 80vw;
  align-items: end;
}

.title-name div {
  padding: 5px 10px;
}

.avatar {
  align-items: start;
  margin: 0 0 320px 0;
}

.hero img {
  height: 20vw;
  margin-bottom: 50px;
}

/* About Me attributes */
.about-me {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: left;
  margin: 2% auto; 
  padding: 1.5% 7.5%;
  width: 85%;
  z-index: 1;
  background-color: var(--opBlue);
  transform: rotate(1.1deg);
}

.about-me p {
  transform: rotate(-1.1deg);
}

/* My Work attrbutes */
.my-work {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: left;
  padding: 1.5% 7.5%;
  margin: 2% auto;
  width: 85%;
  z-index: 1;
  background-color: var(--opYellow);
  transform: rotate(-0.8deg);
}

.my-work p {
  transform: rotate(0.8deg);
  margin: 10px 0;
}

/* Contact Me attributes */
.contact-me {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: left;
  margin: 2% auto; 
  padding: 1.5% 7.5%;
  width: 85%;
  z-index: 1;
  background-color: var(--opBlue);
  transform: rotate(0.35deg);
}

.contact-me p {
  transform: rotate(-0.35deg);
}

/* Section title styling attributes */
.about-me-title, .my-work-title, .contact-me-title {
  color: var(--darkPrimary);
  font-size: 40px;
  font-weight: 600;
  position: relative;
  z-index: 1;
}

.about-me-title:before {
  content: "";
  position: absolute;
  left: -10px;
  right: -10px;
  bottom: 5px;
  transform: rotate(-4deg);
  height: 30px;
  z-index: -1;
  background-color: white;
}

.my-work-title:before {
  content: "";
  position: absolute;
  left: -10px;
  right: -10px;
  bottom: 6px;
  transform: rotate(2.5deg);
  height: 30px;
  z-index: -1;
  background-color: white;
}

.contact-me-title:before {
  content: "";
  position: absolute;
  left: -10px;
  right: -10px;
  bottom: 8px;
  transform: rotate(-1deg);
  height: 30px;
  z-index: -1;
  background-color: white;
}

.contact-socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5px 10px;
  margin-left: 10px;
  width: 100%;
}

.contact-socials i {
  color: var(--darkPrimary);
  padding: 0px 10px;
  font-size: 30px;
}

.contact-socials a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: var(--darkPrimary);
}

/* Portfolio showcase attributes */
.work-portfolio {
  transform: rotate(0.8deg);
  width: 120%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.main-work {
  display: flex;
  width: 50%;
  background-color: var(--offWhite);
  margin: 3px;
  padding: 5px 10px;
  color: var(--darkPrimary);
  text-decoration: none;
}

/* Larger main work image attributes */
.main-work a {
  text-decoration: none;
  color: var(--darkPrimary);
}

.main-work a:hover {
  transition: all 0.2s ease-in;
  font-weight: bolder;
}

.main-work img {
  width: 100%
}

.main-work img:hover {
  opacity: 0.5;
  transition: all 0.2s ease-in;
}

/* Work showcase grid images attributes */
.work {
  display: flex;
  flex-wrap: wrap;
  width: 45%;
}

.work > a {
  flex: 0 0 48%;
  margin: 3px;
  padding: 5px 10px;
  background-color: var(--offWhite);
  color: var(--darkPrimary);
  text-decoration: none;
}

.work a:hover {
  transition: all 0.2s ease-in;
  font-weight: bolder;
}

.work img {
  width: 100%;
}

.work img:hover {
  opacity: 0.5;
  transition: all 0.2s ease-in;
}

/* Media queries */
@media screen and (max-width: 980px) {
  .main-work, .work {
    width: 100%;
  }
  .work-portfolio {
    flex-direction: column;
  }
  .contact-socials {
    flex-direction: column;
    align-items: center;
  }
  .contact-socials a {
    padding-bottom: 5px;
  }
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    padding: 15px 0;
  }
  nav a {
    flex: 0 0 45%;
    justify-content: space-between;
    text-align: center;
  }
  .hero {
    background-color: var(--darkPrimary);
    min-height: auto;
    padding-bottom: 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
  }
  .hero p {
    font-size: 4vw;
  }
  .avatar {
    margin: 0;
  }
  .work > a {
    flex: 0 0 100%;
    margin: 3px;
    padding: 5px 10px;
    background-color: var(--offWhite);
}
  .about-me-title, .my-work-title, .contact-me-title {
    font-size: 30px;
  }
}