@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Rock+Salt&display=swap');
@import "normalize.css/normalize.css";

* {
    font-family: "Quicksand", 'Monterro', Times, serif;
    box-sizing: border-box;
}

:root {
    --darkPrimary: #292d33;
    --yellow: #f2d351;
    --opYellow: #f8e9a7;
    --offWhite: #efefef;
    --blue: #95a9f0;
    --opBlue: #bfcbf6;

    line-height: 1.5;
    font-weight: 400;
/* 
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%; */
}


/* Media queries */
@media screen and (max-width: 980px) {
    .main-work, .work {
        width: 100%;
    }
    .work-portfolio {
        flex-direction: column;
    }
    .contact-socials {
        flex-direction: column;
        align-items: center;
    }
    .contact-socials a {
        padding-bottom: 5px;
    }
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 15px 0;
    }
    nav a {
        flex: 0 0 45%;
        justify-content: space-between;
        text-align: center;
    }
    .hero {
        background-color: var(--darkPrimary);
        min-height: auto;
        padding-bottom: 5%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: start;
    }
    .hero p {
        font-size: 4vw;
    }
    .avatar {
        margin: 0;
    }
    .work > a {
        flex: 0 0 100%;
        margin: 3px;
        padding: 5px 10px;
        background-color: var(--offWhite);
    }
    .about-me-title, .my-work-title, .contact-me-title {
        font-size: 30px;
    }
}